{#
/**
 * @file
 * Template for a Vertical Tabs component.
 *
 * This component displays tabs vertically on the left and content on the right.
 * On mobile, it responsively stacks into an accordion-like view.
 *
 * Available variables:
 * - unique_id: A unique ID for the component.
 * - items: An array of tab items. Each item has:
 * - label: The text for the tab button.
 * - content: The HTML content for the tab panel.
 */
#}
{% if items %}
<div class="vertical-tabs" data-drupal-nav-tabs>
  <div class="vertical-tabs__list" role="tablist" aria-label="Content tabs">
    {% for item in items %}
      <button
        class="vertical-tabs__trigger"
        role="tab"
        id="trigger-{{ unique_id }}-{{ loop.index0 }}"
        aria-controls="panel-{{ unique_id }}-{{ loop.index0 }}"
      >
        {{ item.label }}
      </button>
    {% endfor %}
  </div>

  <div class="vertical-tabs__panels">
    {% for item in items %}
      <div
        class="vertical-tabs__panel"
        role="tabpanel"
        id="panel-{{ unique_id }}-{{ loop.index0 }}"
        aria-labelledby="trigger-{{ unique_id }}-{{ loop.index0 }}"
        hidden
      >
        {{ item.content|raw }}
      </div>
    {% endfor %}
  </div>
</div>
{% endif %}
