<section{{ attributes.addClass([
  'hero',
  vh_height == '100' ? 'hero--vh-100' : '',
  vh_height == '75' ? 'hero--vh-75' : '',
  vh_height == '50' ? 'hero--vh-50' : ''
]) }}{% if background_image %} style="background-image: url('{{ background_image }}');"{% endif %}>
  <div class="hero__inner">
    <h1 class="hero__title">{{ title }}</h1>
    <div class="hero__content">{{ content }}</div>

    <div class="hero__actions">
      {% if button_1_label and button_1_url %}
        <a href="{{ button_1_url }}" class="hero__button hero__button--{{ button_1_color|default('info') }}">{{ button_1_label }}</a>
      {% endif %}
      {% if button_2_label and button_2_url %}
        <a href="{{ button_2_url }}" class="hero__button hero__button--{{ button_2_color|default('muted') }}">{{ button_2_label }}</a>
      {% endif %}
    </div>
  </div>
</section>
