<div class="accordion">
  {% for item in items %}
    <h3 class="accordion__header">
      <button
        class="accordion__trigger"
        aria-expanded="false"
        aria-controls="accordion-{{ unique_id }}-panel-{{ loop.index0 }}"
        id="accordion-{{ unique_id }}-trigger-{{ loop.index0 }}">
        {{ item.title }}
      </button>
    </h3>
    <div
      id="accordion-{{ unique_id }}-panel-{{ loop.index0 }}"
      class="accordion__panel"
      role="region"
      aria-labelledby="accordion-{{ unique_id }}-trigger-{{ loop.index0 }}"
      hidden>
      {{ item.content|raw }}
    </div>
  {% endfor %}
</div>
