<ul class="dropdown dropdown--level-0" role="menubar">
  {% for item in items %}
    {% set has_children = item.children is not empty %}
    <li class="dropdown-item{% if has_children %} dropdown-item--expanded{% endif %}" role="none">
      <a href="{{ item.url|default('#') }}" role="menuitem" aria-haspopup="{{ has_children ? 'true' : 'false' }}">
        {{ item.title }}
      </a>
      {% if has_children %}
        <ul class="dropdown dropdown--level-1" role="menu">
          {% for child in item.children %}
            {% set has_grandchildren = child.children is not empty %}
            <li class="dropdown-item{% if has_grandchildren %} dropdown-item--expanded{% endif %}" role="none">
              <a href="{{ child.url|default('#') }}" role="menuitem" aria-haspopup="{{ has_grandchildren ? 'true' : 'false' }}">
                {{ child.title }}
              </a>
              {% if has_grandchildren %}
                <ul class="dropdown dropdown--level-2" role="menu">
                  {% for grandchild in child.children %}
                    <li class="dropdown-item" role="none">
                      <a href="{{ grandchild.url|default('#') }}" role="menuitem">{{ grandchild.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
